@font-face {
  font-family: 'sevenicons';
  src:  url('fonts/sevenicons.eot?kp26bl');
  src:  url('fonts/sevenicons.eot?kp26bl#iefix') format('embedded-opentype'),
    url('fonts/sevenicons.ttf?kp26bl') format('truetype'),
    url('fonts/sevenicons.woff?kp26bl') format('woff'),
    url('fonts/sevenicons.svg?kp26bl#sevenicons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="biubiubiu-"], [class*=" biubiubiu-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'sevenicons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.biubiubiu-step-2:before {
  content: "\e900";
}
.biubiubiu-step-one:before {
  content: "\e901";
}
.biubiubiu-hidden-password:before {
  content: "\e902";
}
