@font-face {
  font-family: 'sevenicons';
  src:  url('fonts/sevenicons.eot?mpaof9');
  src:  url('fonts/sevenicons.eot?mpaof9#iefix') format('embedded-opentype'),
    url('fonts/sevenicons.ttf?mpaof9') format('truetype'),
    url('fonts/sevenicons.woff?mpaof9') format('woff'),
    url('fonts/sevenicons.svg?mpaof9#sevenicons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="biubiu-"], [class*=" biubiu-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'sevenicons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.biubiu-bar_return:before {
  content: "\e900";
}
.biubiu-Bar_more:before {
  content: "\e901";
}
.biubiu-bar_collection_line:before {
  content: "\e902";
}
.biubiu-bar_collection_solid:before {
  content: "\e903";
}
.biubiu-bar_search:before {
  content: "\e904";
}
.biubiu-Bar_remind:before {
  content: "\e905";
}
.biubiu-bar_drop-down:before {
  content: "\e906";
}
.biubiu-hang-up:before {
  content: "\e907";
}
.biubiu-answer:before {
  content: "\e908";
}
.biubiu-mute:before {
  content: "\e909";
}
.biubiu-goto:before {
  content: "\e90a";
}
.biubiu-more:before {
  content: "\e90b";
  color: #ccc;
}
.biubiu-buy .path1:before {
  content: "\e90c";
  color: rgb(243, 218, 19);
}
.biubiu-buy .path2:before {
  content: "\e90d";
  margin-left: -1em;
  color: rgb(136, 136, 136);
}
.biubiu-buy .path3:before {
  content: "\e90e";
  margin-left: -1em;
  color: rgb(233, 233, 233);
}
.biubiu-service .path1:before {
  content: "\e90f";
  color: rgb(243, 218, 19);
}
.biubiu-service .path2:before {
  content: "\e910";
  margin-left: -1em;
  color: rgb(136, 136, 136);
}
.biubiu-shooting .path1:before {
  content: "\e911";
  color: rgb(243, 218, 19);
}
.biubiu-shooting .path2:before {
  content: "\e912";
  margin-left: -1em;
  color: rgb(136, 136, 136);
}
.biubiu-shops .path1:before {
  content: "\e913";
  color: rgb(243, 218, 19);
}
.biubiu-shops .path2:before {
  content: "\e914";
  margin-left: -1em;
  color: rgb(136, 136, 136);
}
.biubiu-shops .path3:before {
  content: "\e915";
  margin-left: -1em;
  color: rgb(233, 233, 233);
}
.biubiu-video .path1:before {
  content: "\e916";
  color: rgb(243, 218, 19);
}
.biubiu-video .path2:before {
  content: "\e917";
  margin-left: -1em;
  color: rgb(136, 136, 136);
}
.biubiu-photo-album .path1:before {
  content: "\e918";
  color: rgb(243, 218, 19);
}
.biubiu-photo-album .path2:before {
  content: "\e919";
  margin-left: -1em;
  color: rgb(136, 136, 136);
}
.biubiu-message .path1:before {
  content: "\e91a";
  color: rgb(243, 218, 19);
}
.biubiu-message .path2:before {
  content: "\e91b";
  margin-left: -1em;
  color: rgb(136, 136, 136);
}
.biubiu-message .path3:before {
  content: "\e91c";
  margin-left: -1em;
  color: rgb(233, 233, 233);
}
.biubiu-message-record .path1:before {
  content: "\e91d";
  color: rgb(243, 218, 19);
}
.biubiu-message-record .path2:before {
  content: "\e91e";
  margin-left: -1em;
  color: rgb(136, 136, 136);
}
.biubiu-housekeeper .path1:before {
  content: "\e91f";
  color: rgb(243, 218, 19);
}
.biubiu-housekeeper .path2:before {
  content: "\e920";
  margin-left: -1em;
  color: rgb(136, 136, 136);
}
.biubiu-housekeeper .path3:before {
  content: "\e921";
  margin-left: -1em;
  color: rgb(233, 233, 233);
}
.biubiu-recruitment .path1:before {
  content: "\e922";
  color: rgb(243, 218, 19);
}
.biubiu-recruitment .path2:before {
  content: "\e923";
  margin-left: -1em;
  color: rgb(136, 136, 136);
}
.biubiu-recruitment .path3:before {
  content: "\e924";
  margin-left: -1em;
  color: rgb(233, 233, 233);
}
.biubiu-help:before {
  content: "\e925";
}
.biubiu-designer:before {
  content: "\e926";
  color: #bbb;
}
.biubiu-center:before {
  content: "\e927";
  color: #bbb;
}
.biubiu-set-up:before {
  content: "\e928";
  color: #bbb;
}
.biubiu-add2:before {
  content: "\e929";
}
.biubiu-my-resume:before {
  content: "\e92a";
  color: #bbb;
}
.biubiu-my-bussiness:before {
  content: "\e92b";
  color: #bbb;
}
.biubiu-home_procurement .path1:before {
  content: "\e92c";
  color: rgb(238, 238, 238);
}
.biubiu-home_procurement .path2:before {
  content: "\e92d";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.biubiu-home_industrial-design .path1:before {
  content: "\e92e";
  color: rgb(238, 238, 238);
}
.biubiu-home_industrial-design .path2:before {
  content: "\e92f";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.biubiu-home_processed .path1:before {
  content: "\e930";
  color: rgb(238, 238, 238);
}
.biubiu-home_processed .path2:before {
  content: "\e931";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.biubiu-home_financial-services .path1:before {
  content: "\e932";
  color: rgb(238, 238, 238);
}
.biubiu-home_financial-services .path2:before {
  content: "\e933";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.biubiu-home_hardware .path1:before {
  content: "\e934";
  color: rgb(238, 238, 238);
}
.biubiu-home_hardware .path2:before {
  content: "\e935";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.biubiu-home_looking-for-a-job .path1:before {
  content: "\e936";
  color: rgb(238, 238, 238);
}
.biubiu-home_looking-for-a-job .path2:before {
  content: "\e937";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.biubiu-address:before {
  content: "\e938";
}
.biubiu-other_close:before {
  content: "\e939";
}
.biubiu-other_history:before {
  content: "\e93a";
}
.biubiu-purchasing-management .path1:before {
  content: "\e93b";
  color: rgb(243, 218, 19);
}
.biubiu-purchasing-management .path2:before {
  content: "\e93c";
  margin-left: -1em;
  color: rgb(136, 136, 136);
}
.biubiu-business-contact .path1:before {
  content: "\e93d";
  color: rgb(243, 218, 19);
}
.biubiu-business-contact .path2:before {
  content: "\e93e";
  margin-left: -1em;
  color: rgb(136, 136, 136);
}
.biubiu-enterprise-management .path1:before {
  content: "\e93f";
  color: rgb(243, 218, 19);
}
.biubiu-enterprise-management .path2:before {
  content: "\e940";
  margin-left: -1em;
  color: rgb(243, 218, 19);
}
.biubiu-enterprise-management .path3:before {
  content: "\e941";
  margin-left: -1em;
  color: rgb(136, 136, 136);
}
.biubiu-recruitment-management .path1:before {
  content: "\e942";
  color: rgb(243, 218, 19);
}
.biubiu-recruitment-management .path2:before {
  content: "\e943";
  margin-left: -1em;
  color: rgb(136, 136, 136);
}
.biubiu-shop-management .path1:before {
  content: "\e944";
  color: rgb(243, 218, 19);
}
.biubiu-shop-management .path2:before {
  content: "\e945";
  margin-left: -1em;
  color: rgb(136, 136, 136);
}
.biubiu-approvel-management .path1:before {
  content: "\e946";
  color: rgb(243, 218, 19);
}
.biubiu-approvel-management .path2:before {
  content: "\e947";
  margin-left: -1em;
  color: rgb(136, 136, 136);
}
.biubiu-add:before {
  content: "\e948";
  color: #888;
}
.biubiu-payment-management .path1:before {
  content: "\e949";
  color: rgb(243, 218, 19);
}
.biubiu-payment-management .path2:before {
  content: "\e94a";
  margin-left: -1em;
  color: rgb(136, 136, 136);
}
.biubiu-line_work:before {
  content: "\e94b";
}
.biubiu-line_homepage:before {
  content: "\e94c";
}
.biubiu-line_mine:before {
  content: "\e94d";
}
.biubiu-line_message:before {
  content: "\e94e";
}
.biubiu-solid_work:before {
  content: "\e94f";
}
.biubiu-solid_homepage:before {
  content: "\e950";
}
.biubiu-solid_mine:before {
  content: "\e951";
}
.biubiu-solid_message:before {
  content: "\e952";
}
.biubiu-hidden-password:before {
  content: "\e953";
}
.biubiu-step1:before {
  content: "\e954";
}
.biubiu-step2:before {
  content: "\e955";
}
.biubiu-step3:before {
  content: "\e956";
}
.biubiu-view-password:before {
  content: "\e957";
}
.biubiu-join-enterprise .path1:before {
  content: "\e958";
  color: rgb(243, 218, 19);
}
.biubiu-join-enterprise .path2:before {
  content: "\e959";
  margin-left: -1em;
  color: rgb(136, 136, 136);
}
.biubiu-join-enterprise .path3:before {
  content: "\e95a";
  margin-left: -1em;
  color: rgb(233, 233, 233);
}
.biubiu-password:before {
  content: "\e95b";
}
.biubiu-enterprise-certification .path1:before {
  content: "\e95c";
  color: rgb(243, 218, 19);
}
.biubiu-enterprise-certification .path2:before {
  content: "\e95d";
  margin-left: -1em;
  color: rgb(243, 218, 19);
}
.biubiu-enterprise-certification .path3:before {
  content: "\e95e";
  margin-left: -1em;
  color: rgb(136, 136, 136);
}
.biubiu-enterprise-certification .path4:before {
  content: "\e95f";
  margin-left: -1em;
  color: rgb(233, 233, 233);
}
.biubiu-mobile-phone:before {
  content: "\e960";
}
.biubiu-perfect-resume .path1:before {
  content: "\e961";
  color: rgb(243, 218, 19);
}
.biubiu-perfect-resume .path2:before {
  content: "\e962";
  margin-left: -1em;
  color: rgb(136, 136, 136);
}
.biubiu-perfect-resume .path3:before {
  content: "\e963";
  margin-left: -1em;
  color: rgb(233, 233, 233);
}
.biubiu-account:before {
  content: "\e964";
}
